<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} %msj%n" />
        </Console>
        <File name="LastExecution" fileName="target/logs/LastExecutionLog.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} %msj%n" />
        </File>
        <File name="AllExecutions" fileName="target/logs/AllExecutionLog.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} %msj%n" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.foo.bar" level="trace">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AllExecutions"/>
            <AppenderRef ref="LastExecution"/>
        </Root>
    </Loggers>
</configuration>